@using Microsoft.AspNetCore.Identity
@using domain.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var firstName = user?.FirstName ?? User.Identity!.Name;
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                👤 <span class="d-none d-md-inline">Bonjour,</span> @firstName
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><h6 class="dropdown-header">@user?.Email</h6></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form asp-controller="Auth" asp-action="Logout" method="post">
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-box-arrow-right"></i> Déconnexion
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Auth" asp-action="Register">
                <i class="bi bi-person-plus"></i> <span class="d-none d-md-inline">Inscription</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Auth" asp-action="Login">
                <i class="bi bi-box-arrow-in-right"></i> <span class="d-none d-md-inline">Connexion</span>
            </a>
        </li>
    }
</ul>
